body {
    background-color: #606060;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 800px;
    height: 500px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.loginfo {
    background-color: rgba(0, 0, 0, 0);
    width: 55%;
    align-items: center;
    padding: auto;
    display: block;
}

.loginfo h2 {
    background-color: rgba(0, 0, 0, 0);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.loginfo p {
    background-color: rgba(0, 0, 0, 0);
    color: #d0d0d0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-inline: auto;
}

.loginfo a {
    background-color: rgba(0, 0, 0, 0);
    color: #d5d5d5;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 4px;
}

.logform {
    width: 45%;
    height: 105%;
    background-color: white;
    border-radius: 20px;
    box-shadow: -1px 0px 10px 0px;
    display: block;
    justify-content: center;
}

.input-style {
    width: 80%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    color: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    background-color: #bbbbbb;
    margin-inline: auto;
    margin-block: 10px;
}

ion-icon {
    color: #505050;
}

.logform h2 {
    background-color: rgba(0, 0, 0, 0);
    color: #8c8c8c;
    display: flex;
    justify-content: center;
    /* margin-top: 10%; */
}

.logform p {
    background-color: rgba(0, 0, 0, 0);
    color: #8c8c8c;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    /* margin-top: 10%; */
    width: 100%;
}

.logform input {
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.logform button {
    display: flex;
    justify-content: center;
    margin: auto;
    /* margin-top: 10%; */
    border: none;
    padding: 0.75em;
    padding-inline: 1.25em;
}
