* {
    background-color: aquamarine;
    position: relative;
    font-family: segoeUI;
}
.background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 600px;
    height: 400px;
    display: flex;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,229,173,1) 100%);
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
}
.loginfo {
    background-color: rgba(0, 0, 0, 0);
    width: 60%;
    align-items: center;
    padding: auto;
    display: block;
}
.loginfo h2 {
    background-color: rgba(0, 0, 0, 0);
    color: #8c8c8c;
    display: flex;
    justify-content: center;
}
.loginfo p {
    background-color: rgba(0, 0, 0, 0);
    color: #8c8c8c;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.loginfo a {
    background-color: rgba(0, 0, 0, 0);
    color: #8c8c8c;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 4px;
}
.logform {
    width: 40%;
    background-color: white;
    border-radius: 20px;
    box-shadow: -7px 0px 10px -7px;
}
.logform h2 {
    background-color: rgba(0, 0, 0, 0);
    color: #8c8c8c;
    display: flex;
    justify-content: center;
}
.logform p {
    background-color: rgba(0, 0, 0, 0);
    color: #8c8c8c;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.logform input {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #8c8c8c;
    padding: 10px;
}
.logform button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    border: none;
    padding: 0.75em;
    padding-inline: 1.25em;
}
